
.check-out {
  text-align: center;
}
.check-out-btn {
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  border: 2px solid var(--color-white);
  color: var(--color-white);
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
.check-out-btn:hover {
  background-color: var(--color-white);
  border-color: var(--color-primary);
  color: var(--color-primary);
}
/*============= Check Out Print=============*/
.check-out-container {
  display: none;
}
.check-out-print {
  width: 100%;
  height: 100vh;
  background-color: var(--color-white);
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.check-out-title {
  margin-bottom: 4rem;
}
table {
  border: 1px solid;
  border-collapse: collapse;
}
table tr,
th,
td {
  border: 1px solid black;
  padding: 0.3rem;
}
table td {
  color: var(--soft-color);
}
table tr .table-item-title {
  width: 20rem;
}
.total {
  color: black;
}
@media print {
  .addproducts__container .left-side {
    width: 100%;
  }
  .check-out-container {
    display: block;
  }
  .addproducts__container .right-side {
    display: none;
  }
}

/* =============Chack Out End=========== */
@keyframes showhide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hideshow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media screen and (max-width: 1040px) {
  .addproducts__container .left-side {
    width: 50%;
  }
  .addproducts__container .right-side {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .addproducts__container .left-side {
    width: 0%;
  }
  .addproducts__container .right-side {
    width: 100%;
  }
}
