.card-list-body {
  
}
.card-list-img {
  
}
.card-list-add-minu-body {

}

.card-list-add-minu-body p {
  
}
.plus-items-minu {
  
}
.plus-btn,
.minu-btn,
.num-of-items {
  
}
.plus-btn,
.minu-btn {
  
}
.plus-btn {
  
}
.plus-btn:hover {
  
}
.minu-btn {
  
}
.minu-btn:hover {
  
}
.delete-btn {
  
}
.delete-btn:hover {
  
}
